@import '../../styles/vars';
@import '../../styles/mixins';

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 6rem;
  padding: 2rem 0 1rem 2.8rem;
  border-radius: 0.5rem;
  z-index: 2;
  overflow: hidden;
}

.form__name {
  max-width: 70%;
  height: 5.2rem;

  .form__input {
    max-width: 40rem;
    height: 4rem;
    font-size: 1.8rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    outline: 1px solid $color-light;
    border: none;
    background: $color-secondary;
    padding: 0 4rem 0rem 1.8rem;
    color: $color-text;

    &:focus {
      background-color: $color-secondary;
      color: $color-text;
    }
  }
}

.error {
  margin: 0;
  padding-top: 0.6rem;
  min-width: 1.2rem;
  font-size: 1.1rem;
  text-align: center;
  color: $color-error;
}

.button_submit {
  position: relative;
  width: 10rem;
  height: 4.2rem;
  padding: 0 2rem;
  align-self: flex-start;
  border: none;
  border-radius: 3rem;
  border-bottom-right-radius: 3rem;
  text-transform: capitalize;
  @include font(1.5rem);
  color: $color-secondary;
  background-color: $color-orange;
  right: 3rem;
  bottom: 0.1rem;

  &:hover {
    cursor: pointer;
    background-color: $color-accent-light;
    box-shadow: 0 0 0 2px $color-accent-light;
  }

  &:active {
    scale: 0.95;
  }
}

@media (max-width: 1023px) {
  .form {
    max-width: 100%;
  }

  .button_submit {
    max-width: 100%;
  }

  .form__input {
    width: 99.4%;
  }
}

@media (max-width: 767px) {
  .form {
    margin-top: 3rem;
    min-width: 28rem;
  }

  .form__input {
    font-weight: 500;
    min-width: 24.8rem;
  }
}

@media (max-width: 479px) {
  .form__row {
    min-width: 10rem;
  }
}

@media (max-width: 370px) {
  .form__input {
    min-width: 10rem;
  }
}

@media (max-width: 320px) {
  .form__input {
    width: 20rem;
  }
}
