//Primary
$color-accent-light: #ffab45;
$color-background: #505a73;
$color-secondary: #38486b;
$color-secondary-dark: #122b60;
$color-accent-dark: #2d2d2d;
$color-text: #bfcef3;

//Neutral
$color-orange: #d98926;
$color-black: #000000;
$color-light: #ffe4af;

//State
$color-error: #c46f00;
