@import '../../styles/vars';
@import '../../styles/mixins';

.form {
  width: 80rem;
  background-color: $color-secondary;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  font-size: 1.8rem;
  padding: 5rem 0 7.5rem 1.8rem;
  position: relative;
  box-shadow: 0px 25px 25px -9px rgba(83, 83, 109, 0.11);
  border-radius: 0.5rem;
  z-index: 2;
  overflow: hidden;
}

.form__name {
  max-width: 32.2rem;
  height: 5.2rem;
  text-align: left;

  .form__name-label {
    display: inline;
    margin: 0;
    font-size: 1.5rem;
    padding: 0 0.6rem;
    background-color: $color-secondary;
    line-height: 2.1rem;
  }
  
  .form__input {
    width: 32rem;
    height: 4rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    outline: 1px solid $color-disabled;
    border: none;
    background: $color-secondary;
    padding: 0 4.4rem 0 1.4rem;
    color: $color-disabled;
  
    &:focus {
      background-color: $color-secondary;
      color: $color-black;
    }
  }
}

.form__description {
  max-width: 32.2rem;
  height: 22.2rem;
  text-align: left;

  .form__description-label {
    display: inline;
    margin: 0;
    font-size: 1.5rem;
    padding: 0 0.6rem;
    background-color: $color-secondary;
    line-height: 2.1rem;
  }
  
  .form__textarea {
    width: 32rem;
    height: 20rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    outline: 1px solid $color-disabled;
    border: none;
    background: $color-secondary;
    padding: 0 4.4rem 0 1.4rem;
    color: $color-disabled;
    padding-top: 1rem;
    resize: none;

    &:focus {
      background-color: $color-secondary;
      color: $color-black;
    }
  }

}

.name-container {
  margin-top: -1rem;
  position: relative;
  top: 1.05rem;
  left: 1.1rem;
  z-index: 5;
}

.error {
  margin: 0;
  padding-top: 0.6rem;
  min-width: 1.2rem;
  font-size: 1.1rem;
  text-align: center;
  color: $color-error;
}


.button_submit {
  width: 32.2rem;
  height: 4rem;
  padding: 0 2rem;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  text-transform: capitalize;
  margin-top: 0.5rem;
  @include font(1.5rem);
  color: $color-secondary;
  background-color: $color-black;

  &:hover {
    cursor: pointer;
    background-color: $color-gray-additional;
    box-shadow: 0 0 0 2px $color-gray-additional;
  }

  &:disabled {
    color: $color-disabled;
    background-color: $color-light-gray-additional;
    outline: 1px solid $color-disabled;
    cursor: default;
    pointer-events: none;
  }

  &:active {
    scale: 0.95;
  }
}