@import '../../styles/vars';
@import '../../styles/mixins';

.form__row {
  max-width: 32.2rem;
  height: 5.2rem;
  text-align: left;
}

.form__row-name {
  display: inline;
  margin: 0;
  font-size: 1.5rem;
  padding: 0 0.6rem;
  background-color: $color-secondary;
  line-height: 2.1rem;
}

.form__input {
  width: 32rem;
  height: 4rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  outline: 1px solid $color-disabled;
  border: none;
  background: $color-secondary;
  padding: 0 4.4rem 0 1.4rem;
  color: $color-disabled;

  &:focus {
    background-color: $color-secondary;
    color: $color-black;
  }
}